{% extends "base.html" %}

{% block content %}
<div class="content">
  <div class="page-header row">
    <h1 class="pull-left">{{ address.address }}</h1>
    <a href="{{ reverse_url('new_address') }}" class="btn large success pull-right">+ Create Address</a>
  </div>
  <div>
  <table>
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for message in messages %}
        <tr>
          <td>{{ address.address }}</td>
          <td>{{ address.callback_url }}</td>
          <td>{{ address.token }}</td>
          <td>
            <a href="{{ reverse_url('edit_address') }}?id={{ address.key().id() }}">Edit</a>
            <a href="{{ reverse_url('delete_address') }}?id={{ address.key().id() }}">Delete</a>
          </td>
        </tr>
      {% end %}
    </tbody>
  </table>
  </div>
</div>
{% end %}
